@font-face {
    font-family: Faktum;
    src: url("./Faktum-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: Faktum;
    src: url("./Faktum-Bold.woff2") format("woff2");
    font-weight: 700;
}

.button {
    display: inline-flex;
    align-items: center;
}
